.auto-style1 {
    width: 77px;
    height: 62px;
}

.auto-style2 {
    width: 100%;
}

.auto-style3 {
    height: 23px;
}
.auto-style4 {
    width: 174px;
}

.auto-style5 {
    height: 23px;
    width: 174px;
}